:root {
  --global-color-background: #fff !important;
  --smp-poll-color:
}

.hidden {
  display: none !important;
}

.text-align-center {
  text-align: center !important;
}

main#main {
  max-width: 400px;
}

.smp_container {
  position: relative;
  max-width: 390px !important;
  margin: auto;
  padding: 35px;
  border-radius: 15px;
  background-color: #f7f3fc;
}

.smp_inner {
  position: relative;
  transition: 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a2558;
  padding: 40px 45px;
  border-radius: 30px;
  background: -webkit-linear-gradient(to right, #1f2e75, #1a2558);
  background: linear-gradient(to right, #1f2e75, #1a2558);
}


.smp_poll-end-time.text-align-center span {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0 0 15px 0;
  font-family: Open sans;
  display: block;
}

.smp_surveys {
  position: relative;
  z-index: 1;
}

.smp_survey-item-inner {
  position: relative;
  display: flex;
  width: 250px;
  justify-content: space-between;
  background: #ebf3f7;
  padding: 10px 25px 10px 10px;
  border-radius: 30px;
  align-items: center;
  margin-bottom: 10px;
  max-height: 45px;
  overflow: hidden;
}

.smp_survey-name h5 {
  margin: 0 !important;
  font-size: 18px !important;
}

.smp_survey-total-vote span {
  margin: 0 0 15px 0 !important;
  transition: all 0.3s;
}

ul.smp_surveys li {
  margin: 0;
  padding: 0;
}

.smp_survey-item-action {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}


.smp_survey-name h5 {
  padding-left: 15px;
  font-size: 20px;
  margin: 0;
}

.smp_survey-vote-button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #f9f9f9;
  border: 1px solid #1a2558;
  box-shadow: none;
}

.smp_survey-vote-button:hover {
  cursor: default;
}

.smp_survey-vote-button.live:hover {
  cursor: pointer;
}

.smp_survey-item-action.smp_survey-item-action-disabled form .smp_survey-vote-button:hover,
.smp_survey-item-action.smp_survey-item-action-disabled form .smp_disabled-button:hover {
  cursor: default;
}

form.smp_survey-item-action-form {
  margin: 0;
}

ul.smp_surveys {
  list-style: none;
  padding: 0;
  margin: 0;
}

.smp_survey-progress-fg.smp_orange_gradient {
  background: rgb(233 219 244);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 30px;
  transition: .4s;
}

.smp_survey-progress-label {
  position: relative;
  z-index: 1;
}

.smp_survey-name {
  margin-left: 15px;
  font-size: 19px;
  font-weight: 600;
}


.smp_poll-title h1 {
  font-size: 20px;
  font-family: 'Open Sans';
  font-weight: 600;
  margin: 0 0 15px 0 !important;
  line-height: 1.5;
}

.smp_survey-total-vote {
  margin-bottom: 15px;
}

.smp_survey-total-vote span, span.smp_stage.smp_live.smp_active {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 18px;
  font-family: 'Open Sans';
  font-weight: 500;
  margin-top: 0;
  padding: 0;
}

h3 {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 10px;
}


.smp_survey-stage .smp_live, .smp_survey-stage .smp_ended {
  /* position: absolute; */
  right: 50%;
  padding: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 10px;
  border-bottom-right-radius: 4px;
  text-align: center;
  background: #1a2558;
  background: -webkit-linear-gradient(to right, #1f2e75, #1a2558);
  background: linear-gradient(to right, #1f2e75, #1a2558);
  color: #fff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 25px !important;
  padding: 0;
}

.smp_user-partcipeted {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 18px;
}

.smp_user-partcipeted p {
  padding: 0;
  margin: 0;
}

.smp_survey-item-action-form input[role=vote] {
  height: 25px;
  line-height: 20px;
  background-color: transparent;
  padding: 0;
  width: 25px;
  text-align: center;
  border-radius: 200px;
  font-size: 20px;
  transition: all 200ms ease-in-out;
  border: 1px solid #1a2558;
  display: flex;
}

.smp_survey-item-action-form input[role=vote]:focus {
  outline: 0;
}

.smp_survey-item-action-form input[role=vote]:active {
  font-size: 24px;
  outline: 0;
}

.smp_survey-item-action-form input[role=vote].clicked {
  color: transparent;
  background-color: transparent;
  width: 28px;
  border-width: 0px;
  border-color: #1a2558;
  -webkit-animation: turn-vote 5s linear;
  animation: turn-vote 5s linear;
  border-top-color: #1a2558;
  background-color: #ddd;
}

.smp_survey-item-action-form input[role=vote].done, .smp_survey-item-action-form input[role=vote].done:hover {
  background-color: #1a2558;
  color: #fff;
  font-family: "FontAwesome";
  font-size: 40px;
  position: relative;
}

.smp_fill-option {
  background: -webkit-linear-gradient(to right, #1f2e75, #1a2558);
  background: linear-gradient(to right, #1f2e75, #1a2558) !important;
  border: none !important;
}

.temp-hide {
  display: none !important;
}


.smp_inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  border-radius: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.smp_inner:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .8;
  border-radius: 30px;
}